<%= form_for(@nanny) do |f| %>
  <% if @nanny.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nanny.errors.count, "error") %> prohibited this nanny from being saved:</h2>

      <ul>
      <% @nanny.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="form_body">
    
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone_no %><br>
    <%= f.text_field :phone_no %>
  </div>
  <div class="field">
    <%= f.label :welcome_message %><br>
    <%= f.text_area :welcome_message %>
  </div>
  <div class="field">
    <%= f.label :date_time %><br>
    <%= f.datetime_select :date_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
