<p id="notice"><%= notice %></p>

<h1>A List of all Nannies in the system</h1>

<br/>
<p>
  To mangage the data click one of the three links to the right
</p>

<table cellpadding="15">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone no</th>
      <th>Welcome message</th>
      <th>Time of register</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @nannies.each do |nanny| %>
      <tr>
        <td><%= nanny.name %></td>
        <td><%= nanny.email %></td>
        <td><%= nanny.phone_no %></td>
        <td><%= nanny.welcome_message %></td>
        <td><%= nanny.date_time %></td>
        <td><%= link_to 'Show', nanny %></td>
        <td><%= link_to 'Edit', edit_nanny_path(nanny) %></td>
        <td><%= link_to 'Destroy', nanny, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nanny', new_nanny_path %>
