<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @nanny.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @nanny.email %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @nanny.phone_no %>
</p>

<p>
  <strong>Welcome message:</strong>
  <%= @nanny.welcome_message %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @nanny.date_time %>
</p>

<%= link_to 'Edit', edit_nanny_path(@nanny) %> |
<%= link_to 'Back', nannies_path %>
