// Place all the styles related to the Nannies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table, th, td, .field, {
    border: 1px solid black;
    text-align:center;
    margin-left:auto; 
    margin-right:auto;
     background: #343434; 
     color:white;
}

.form_body{
    border: 1px solid black;
    padding:0px 500px 0px 500px;
    text-align:center;
    margin-left:auto; 
    margin-right:auto;
     background: #343434; 
     color:white;
}

h1{
  text-align:center;

}

p{
  text-align:center;
}
